@import url('//fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,600,600i|Raleway:300,500,700,900');
@font-face {
  font-family: 'Futura-Bold';
  src: url("../fonts/361E23_1_0.eot");
  src: url("../fonts/361E23_1_0.eot?#iefix") format('embedded-opentype'), url("../fonts/361E23_1_0.woff2") format('woff2'), url("../fonts/361E23_1_0.woff") format('woff'), url("../fonts/361E23_1_0.ttf") format('truetype');
}

@keyframes blink {
  93% {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }

  97% {
    transform: scaleY(1);
  }
}

.blink {
  transform-origin: 0 15.5%;
  animation: blink 2s infinite;
}

/* ----------------- basic HTML elements ------------- */

body {
  margin: 0;
  padding: 0;
  color: black;
  background: #FECB2F;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

h1 {
  font-family: 'Futura-Bold';
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h2, h3, h4, h5 {
  font-family: 'Raleway';
}

h3, h4 {
  margin-bottom: 1rem;
  font-weight: 700;
}

h3 {
  margin-top: 2rem;
}

h4 {
  margin-top: 1.5rem;
}

div.card {
  margin-bottom: 0.5rem; margin-top: 0.5rem;
}

b, strong {font-weight: 900;}

main {
  background: white;
  padding: 3rem 0 10vw;
}

main .container {
  /* max-width: 928px; */
}

blockquote {
  color: #333;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 90%;
  font-style: italic;
}
blockquote:before {
  color: #EA212D;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* -------------- layout components ---------------- */

.masthead {
  display: block;
  position: relative;
  overflow: hidden;
}

.masthead:before {
  position: absolute;
  content: '';
  background: url("../img/cardiff.svg") center bottom / 120% no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  opacity: 0.3;
}
@media all and (min-width:720px) {
  .masthead:before {
    background: url("../img/cardiff.svg") center bottom / 90% no-repeat;
  }
}
@media all and (min-width:1400px) {
  .masthead:before {
    background: url("../img/cardiff.svg") center bottom / 70% no-repeat;
  }
}

.navbar {
  margin-top: 0;
  position: static;
  top: auto;
}

.navbar-nav {
  padding-left: 0;
}

/* -------------- Footer -------------- */
.foot {
  font-size: 80%;
  padding: 15vw 0 3vw;
  position: relative;
  margin-top: 10vw;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -10vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7vw 100vw 0 0;
    border-color: white transparent transparent transparent;
  }
}

/* -------------- navigation components ---------------- */


@media all and (min-width:576px) {
  .navbar-nav {
    padding-left: 7rem;
  }

  .navbar-collapse {
    margin-top: -5rem;
  }
}
@media all and (min-width:992px) {
  .navbar-collapse {
    margin-top: 0;
  }

  .navbar-nav {
    padding-left: 2rem;
  }
}

.breadcrumb {
  position: relative;
  background: #1073B9;
  color: white;
  border-radius: 0;
  margin: 0 -1rem;
  font-family: 'Futura-Bold';
  font-weight: normal;
}
@media all and (min-width:576px) {
  .breadcrumb {
    border-radius: 2rem;
  }
}

.breadcrumb-python {
  position: absolute;
  margin-top: -3em;
}

.breadcrumb a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.breadcrumb a:hover {
  opacity: 1;
}
/* navbar-brand */
.navbar-brand {
  background: black;
  width: 4.5em;
  height: 2em;
  font-size: 2em;
  margin: 0;
  top: -0.5rem;
  left: -1rem;
  background: black url("/static/img/crown.svg") 0 0.3em / 30% no-repeat;
  padding: 0.2em 0 0 0.5em;
  position: absolute;
  z-index: 1000;
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-family: 'Futura-Medium';
}
@media all and (min-width: 576px) {
  .navbar-brand {
    width: 3em;
    height: 2.5em;
    background: black url("/static/img/crown.svg") 0.12em 0.1em / 90% no-repeat;
    padding: 0 0 0.5em;
    left: 0;
  }
}

.navbar-brand span {
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  font-size: 0.7em;
  font-weight: normal;
  line-height: 2.3em;
  position: relative;
  color: white;
  text-decoration: none;
  text-align: left;
  text-indent: 1.5em;
  z-index: 5;
}
@media all and (min-width: 576px) {
  .navbar-brand span {
    padding-top: 5.5em;
    font-size: 0.5em;
    text-indent: 0;
    text-align: center;
    line-height: 1;
  }
}

.navbar-brand:after,
.navbar-brand:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  border-style: solid;
  z-index: 0;
}

.navbar-brand:before {
  margin: 0 -2em 0 0;
  right: 0;
  top: 0;
  border-width: 2em 2em 0 0;
  border-color: black transparent transparent transparent;
}
@media all and (min-width: 576px) {
  .navbar-brand:before {
    left: 0;
    top: auto;
    margin: 0 0 -2em;
    border-width: 2em 3em 0 0;
    border-color: black transparent transparent transparent;
  }
}

.navbar-brand:after {
  right: 0;
  margin: 0 -2em 0 0;
  border-width: 0 2em 2em 0;
  border-color: transparent transparent black transparent;
}
@media all and (min-width: 576px) {
  .navbar-brand:after {
    right: 0;
    margin: 0 0 -2em;
    border-width: 0 3em 2em 0;
    border-color: transparent black transparent transparent;
  }
}

.navbar-nav .nav-link {
  display: inline-block;
  font-size: 0.8rem;
  font-family: 'Futura-Bold';
  text-transform: uppercase;
  margin: 0 0.75rem;
  padding: 0.25rem;
  color: black;
}

.navbar-nav .nav-link:hover {
  background: #1073B9;
  color: white;
  border-radius: 1rem;
}

/* -------------- main styling elements ------------- */

.jumbotron {
  color: black;
  background: none;
  border-radius: 0;
  position: relative;
}

.masthead:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 7vw 100vw;
  border-color: transparent transparent white transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9;
}

/* -------------- colours ------------- */

.bg-primary {background-color: #1073B9 !important;} // blue

.bg-danger {background-color: #EA212D !important;} // red

.bg-warning {background-color: #FECB2F !important;} // yellow

/* -------------- cards and their headings ------------- */

div.card-body {background: white;}

div.card.bg-primary .card-header, div.card.bg-danger .card-header {color: white;}

div.card h2,
div.card h3,
div.card h4 {
  margin: 0;
}

div.card h2 {
  font-size: 1.4rem;
}

div.card h3 {
  font-size: 1.2rem;
}

div.card h4 {
  font-size: 1rem;
}

.btn-primary {
  background-color: #1073B9;
  border-color: #1073B9;
}

figcaption {
  font-style: italic;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: white;
}

/* ---------------- Pythons --------------- */

.pyconuk {
  font-size: 0.8vw;
  position: absolute;
  margin-top: -4vw;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 0;
  box-sizing: content-box;

  *,
  *:after,
  *:before {
    box-sizing: content-box;
  }
}

.thankyou {
  top: 7.5em;
  left: 50%;
  margin-left: -7.75em;
  z-index: 9000;
  position: absolute;
  text-transform: uppercase;
  display: block;
  font-size: 3em;
  font-family: 'Futura-Bold';
  line-height: 1;
  padding: 0.3em 0 0.15em;
  width: 15em;
  background: white;
  text-align: center;
  color: black;
  border: 0.25em solid black;
}

.circle {
  font-size: 1em;
  position: relative;
  margin: 0 auto;
  width: 32em;
  height: 32em;
  line-height: 30em;
  background: white;
  border: 3em solid black;
  border-radius: 100%;
  text-align: center;

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 32em;
    height: 32em;
    border: 3em solid black;
    border-radius: 100%;
    z-index: 5000;
    top: -3em;
    left: -3em;
  }
}

.python {
  margin: 7em 1em;
  display: inline-block;
  position: relative;
  width: 7em;
  height: 20em;
  z-index: 1;
  box-sizing: content-box;

  &:after,
  &:before {
    content: ' ';
    display: block;
    position: absolute;
  }

  &:before {
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    border-radius: 1.5em 1.5em 0 0;
  }

  &:after {
    top: 3em;
    right: 0;
    bottom: 0;
    width: 3em;
  }

  &.blue {
    &:after,
    &:before {
      background: #0071bc;
    }

    .eye {
      animation: blink 1.9s infinite;
    }
  }

  &.red {
    &:after,
    &:before {
      background: #ed1c24;
    }

    .eye {
      animation: blink 2.4s infinite;
    }
  }

  &.yellow {
    &:after,
    &:before {
      background: #ffcc00;
    }

    .eye {
      animation: blink 2s infinite;
    }
  }

  &.right {
    transform: rotateY(180deg);
  }
}
@keyframes spin {
  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}
@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }

  93% {
    transform: scaleY(0);
  }

  100% {
    animation-timing-function: ease-out;
  }
}

.moustache {
  &:after,
  &:before {
    content: '';
    position: absolute;
    display: block;
    background: black;
    width: 2em;
    top: 2.25em;
    height: 1.5em;
    border-radius: 3em 0 3em 1em;
    transform: rotate(60deg);
    z-index: 0;
  }

  &:after {
    transform: rotatez(180deg) scale(0.8);
    margin-left: -1.3em;
  }
}

.eye {
  position: relative;
  display: block;
  width: 1.3em;
  height: 1.3em;
  left: 0.75em;
  top: 0.75em;
  background: white;
  border-radius: 100%;
  animation: blink 2.4s infinite;
  z-index: 1000;
}

.deerstalker {
  position: absolute;
  display: block;
  background: black;
  width: 4.5em;
  height: 3.5em;
  z-index: 100;
  margin-left: 3em;
  margin-top: -2.8em;
  border-radius: 4em 4em 0 0;
  transform: rotateZ(15deg);

  &:after,
  &:before {
    position: absolute;
    content: '';
    display: block;
    margin-top: 2em;
    margin-left: -1em;
    width: 7em;
    height: 0.5em;
    border: solid 0.5em black;
    border-color: black transparent transparent transparent;
    border-radius: 6em 8em 0 0;
    transform: rotateX(180deg);
  }

  &:after {
    width: 1em;
    height: 0.25em;
    margin: -1em 0 0 1.5em;
  }
}

.glasses {
  position: relative;
  display: block;
  margin-top: -1.25em;
  margin-left: 0.2em;
  width: 1.7em;
  height: 1.7em;
  border: 0.4em solid black;
  z-index: 500;
  border-radius: 100%;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 1.7em;
    height: 1.7em;
    border: 0.4em solid black;
    border-color: black transparent transparent black;
    z-index: 500;
    border-radius: 100%;
    z-index: -100 !important;
    margin-left: -1.5em;
    margin-top: -0.5em;
    transform: scale(0.7) rotateZ(-30deg);
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    margin-top: 0;
    margin-left: 1.7em;
    width: 3.5em;
    height: 1em;
    border: solid 0.35em black;
    border-color: black transparent transparent transparent;
    border-radius: 0 8em 0 0;
  }
}

.crown {
  position: absolute;
  width: 6em;
  height: 6em;
  z-index: 20;
  margin: -15.7em 0 0 5em;
  transform: rotateZ(15deg) rotateY(180deg);
  background-size: 100% auto;
}

.slueth {
  top: -4.3em;
}

.queen {
  top: -1.8em;
  margin-right: -0.5em;
  height: 28em;
}

.swot {
  top: -4.3em;
}
