*/
    blue:   #1073B9
    yellow: #FECB2F
    red:    #EA212D
*/

body: {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
    border: 16px solid black;
    line-height: 1.4;
}

h2  {margin-top: 3rem; margin-bottom: 2rem;}
h3  {margin-top: 2rem; margin-bottom: 1rem;}
h4  {margin-top: 1.5rem; margin-bottom: 1rem;}

div.col {margin-bottom: 1rem;}

nav.navbar {
    background: black;
    padding-left: 8em;
    margin-top: 0;
    position: static;
    top: auto;
}

nav a {color: white;}

nav ol.breadcrumb {background: #1073B9; color: white;}

header .jumbotron {
    background: #FECB2F;
    color: black;
}

.bg-primary {background-color: #1073B9 !important;}
.bg-danger {background-color: #EA212D !important;}
.bg-warning {background-color: #FECB2F !important;}


div.card-body {background: white;}
div.card.bg-primary h2 {color: white;}
div.card.bg-danger h2 {color: white;}

div.card h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #1073B9;
    border-color: #1073B9;
}

figcaption {font-style: italic;}

.breadcrumb-item+.breadcrumb-item::before {color: white;}