$main-font: 12pt Helvetica, Arial, sans-serif;

$max-width: 750px;
$default-padding: 10px;

$accent-grey: #999;  // No American-isms here. ;-)

body {
  margin: 0;
  padding: 0;
  font: $main-font;
}

a {
  &:hover {
    text-decoration: none;
  }
}

aside {

  border-bottom: 8px solid black;

  .content {
    padding-top:    3em;
    padding-bottom: 3em;
  }

  background: url('/theme/header.jpg');
  background-size: 100%;
  background-position: center;

  img {
    width: 150px;
  }

  h1, h2 {
    display: inline;
    background: white;
    box-shadow: -5px 0 0 5px white, 5px 0 0 5px white;
//    background: black;
    color: black;
  }

  h1 {
    font: 28pt Futura;
    font-weight: 600;
  }

  h2 {
    font: 16pt Futura;
  }
}

@media screen and (max-width: 600px) {
  aside {
    background: url('/theme/header_600.jpg');
    background-size: 100%;
    background-position: center;
  }
}

@media screen and (max-width: 1100px) {
  aside {
    background: url('/theme/header_1100.jpg');
    background-size: 100%;
    background-position: center;
  }
}

footer {
  border-top: 1px solid $accent-grey;
  color: $accent-grey;
  font-size: 0.85em;
  p:first-child {
    margin-top: $default-padding;
  }

  a {
    color: $accent-grey;

    &:visited {
      color: darken($accent-grey, 15%);
    }
  }

}

.content {
  max-width: 750px;
  padding: $default-padding;
  margin-left:  auto;
  margin-right: auto;
}
